<div class="panel-options-group">
  <!-- <div class="panel&#45;option&#45;section__header">Information</div> -->
  <div class="panel-options-group__body">
    <div class="section">
      <div class="gf-form">
        <span class="gf-form-label width-7">Заголовок</span>
        <input type="text" class="gf-form-input width-25" ng-model='ctrl.panel.title' ng-model-onblur></input>
      </div>
      <gf-form-switch class="gf-form" label-class="width-7" switch-class="max-width-6" label="Прозрачность" checked="ctrl.panel.transparent" on-change="ctrl.render()"></gf-form-switch>
    </div>
    <div class="section">
      <div class="gf-form gf-form--v-stretch">
        <span class="gf-form-label width-7">Описание</span>
        <textarea class="gf-form-input width-25" rows="5" ng-model="ctrl.panel.description" ng-model-onblur placeholder="Описание панели, поддержка пометки и ссылкки"></textarea>
      </div>
    </div>
  </div>
</div>

<div class="panel-options-group">
  <div class="panel-options-group__header">Повторение</div>
  <div class="panel-options-group__body">
    <div class="section">
      <div class="gf-form">
        <span class="gf-form-label width-9">Повторить</span>
        <dash-repeat-option panel="ctrl.panel"></dash-repeat-option>
      </div>
      <div class="gf-form" ng-show="ctrl.panel.repeat">
        <span class="gf-form-label width-9">Direction</span>
        <select class="gf-form-input" ng-model="ctrl.panel.repeatDirection" ng-options="f.value as f.text for f in [{value: 'v', text: 'Vertical'}, {value: 'h', text: 'Horizontal'}]">
          <option value=""></option>
        </select>
      </div>
      <div class="gf-form" ng-show="ctrl.panel.repeat && ctrl.panel.repeatDirection == 'h'">
        <span class="gf-form-label width-9">Максимум в каждой строке</span>
        <select class="gf-form-input" ng-model="ctrl.panel.maxPerRow" ng-options="f for f in [2,3,4,6,12,24]">
          <option value=""></option>
        </select>
      </div>
      <div class="gf-form-hint">
        <div class="gf-form-hint-text muted">
         Примечание: возможно, вам придется изменить выбор переменной, чтобы увидеть это в действии.
        </div>
      </div>
    </div>
  </div>
</div>

<div class="panel-options-group">
  <div class="panel-options-group__header">Детализированные Ссылки</div>
  <div class="panel-options-group__body">
    <panel-links-editor panel="ctrl.panel"></panel-links-editor>
  </div>
</div>
