<div class="share-modal-header">
	<div class="share-modal-big-icon">
		<i class="fa fa-cloud-upload"></i>
	</div>
	<div>
		<gf-form-switch
			class="gf-form"
			label="Экспорт для совместного использования извне"
			label-class="width-16"
			checked="ctrl.shareExternally"
			tooltip="Полезно для публичного обмена приборной панелью на grafana.com. Будет шаблон имен источников данных. Затем его можно использовать только с определенным API импорта панели мониторинга.">
		</gf-form-switch>

		<div class="gf-form-button-row">
			<button type="button" class="btn gf-form-btn width-10 btn-primary" ng-click="ctrl.saveDashboardAsFile()">
			  Сохранить в файл
			</button>
			<button type="button" class="btn gf-form-btn width-10 btn-secondary" ng-click="ctrl.viewJson()">
			  Отобразить в JSON
			</button>
			<a class="btn btn-link" ng-click="ctrl.dismiss()">Выход</a>
		</div>

	</div>
</div>
